<link href="{{"mermaid/mermaid.css" | relURL}}" type="text/css" rel="stylesheet" />
<script defer src="{{"mermaid/mermaid.js" | relURL}}">mermaid.initialize({ startOnLoad: true });</script>
{{ if .Get "description" }}
<div class="mermaid-title" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}">
<span>{{ .Get "description" }}</span>
</div>
{{ end }}
<div class="mermaid" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}">
    {{ safeHTML .Inner  }}
</div>
<div class="expand mermaid-code" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}">
        <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
            <i style="font-size:x-small;" class="fa fa-chevron-right"></i>
            <span>Mermaid Code</span>
        </div>
        <div class="expand-content" style="display: none;" align="left">
        <pre><code>{{ safeHTML .Inner  }}</code></pre>
    </div>
</div>
