<header>
  <div class="logo">
    {{ partial "header.html" . }}
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  {{- with .Site.Menus.shortcuts}}
  <nav class="shortcuts">
    {{- range sort . "Weight"}}
    <li class="" role="">
      <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank" {{end}} rel="noopener">
        {{safeHTML .Name}}
      </a>
    </li>
    {{- end}}
  </nav>
  {{- end}}
</header>
<article>
  <aside>
    {{- if not .Site.Params.disableSearch}}
    <div>
      <div class="searchbox">
        <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
      </div>
      <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
      <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
      <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
      <script type="text/javascript">
        { { if .Site.IsMultiLingual } }
        var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
        { { else } }
        var baseurl = "{{.Site.BaseURL}}";
        { { end } }
      </script>
      <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
    </div>
    {{- end}}
    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
      <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
        <a href="{{"/" | relLangURL}}">
          <i class="fa fa-fw fa-home" style="font-size: 1.5rem; color: #3675C2;"></i>
        </a>
      </li>
      {{- end}}

      {{- partial "menu.html" . }}
    </ul>
    {{- partial "language-selector.html" . }}
    <section>
      {{- partial "menu-footer.html" . }}
    </section>
  </aside>
  <!-- TOC -->

  <progress value="0" id="progressBar">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>

  <div class="progress">
    <div class="wrapper">
      {{ .TableOfContents }}
    </div>
  </div>
  <!-- /TOC -->

  <section class=" page">

    {{if eq .Params.draft true }}
    <div class="draft">
      <span align="center">draft</span>
    </div>
    {{end}}

    {{if .Params.tags }}
    <div class="tags">
      {{ range $index, $tag := .Params.tags }}
      <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}">{{ $tag }}</a>
      {{ end }}
    </div>
    {{end}}

    <!-- <div class="nav-select">
      <center>Navigation :
        <select onchange="javascript:location.href = this.value;">
          {{partial "flex/selectnavigation.html" .}}
        </select>
      </center>
    </div> -->



    <h1>{{.Title}}</h1>